.hero__container {
  padding: 0 10px;
}

.hero__text-container {
  height: 420px;
}

.hero__img {
  height: 300px;
}

.hero__text-container {
  display: grid;
  place-content: end;
  place-items: center;
  margin-bottom: 30px;
  font-family: $poppinsFont;
}

.hero__title {
  font-weight: 300;
  font-size: clamp(2.5rem, 7vw, 8rem);
  text-align: center;
}

.hero__catalog {
  font-size: clamp(1.6rem, 3vw, 3rem);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.hero__buttons-group {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  & > * {
    flex: 1 1 2rem;
  }
}

.hero__img {
  background: url($heroImg) no-repeat center center;
  background-size: cover;
  width: 100%;
}