.button__orange {
  background: none;
  padding: 10px 15px;
  border: 1px solid $grey;
  border-radius: 50px;
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: $lightOrange;
    background: $lightOrange;
    color: $white;
  }
}