.button__hero {
  background: none;
  border: .5px solid $grey;
  border-radius: 50px;
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 1.2rem);
  outline: none;
  padding: 5px 15px;
  transition: all .3s ease-in-out;
  font-family: $poppinsFont;
  font-weight: 200;
}

.orange:hover {
  background: $lightOrange;
  border-color: $lightOrange;
  color: $white;
}